<!doctype html>
<head>
	<title>Find a gh-index</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div style=padding:20px>
	<h1>gh-index : an h-index measure for github stars</h1>
	<p>What is h-index? It's a measure of academic productivity.</p>
	<p>Is it useful? Well sort of. You can read more about it <a href="https://en.wikipedia.org/wiki/H-index">on Wikipedia</a>.</p>
	<p>I wanted to apply this measure to github stars, instead of academic citations. I've called the result the gh-index. It's not perfect. Authorship of open source software can be a bit more complicated than authorship of academic papers. But h-index was never a perfect measure to begin with. So take it for what you will. This tool will calculate the gh-index for any github user you'd like.</p><br>
	<p> 
	<form class="form-inline">
	<div class="form-group">
		<input type="text" class="form-control" name="username" placeholder="Github username"> 
		<a href=# class="btn btn-default active" role="button" id="calculate">Calculate</a>
	</div>
	</form>
	</p>
	<script type="text/javascript">
		$(function() {
			var submit_form = function(e) {
				$('#calculate').removeClass('btn btn-default active').addClass('btn btn-success disabled');
				$('#calculate').text("Calculating...");
				$.getJSON("/calculate", {
					a: $('input[name="username"]').val()
					}, function(data) {
					$("#result").text("This user's gh-index is: " + data.result);
					$('#calculate').removeClass('btn btn-success disabled').addClass('btn btn-default active');
					$('#calculate').text("Calculate again");
				});
			};
			$('a#calculate').on('click', submit_form);
		});
	</script>
	<h2 id="result"></h2> 
</div>
</body>
